In [1]:
import dice_ml
from dice_ml.utils import helpers # helper functions
from sklearn.model_selection import train_test_split

dataset = helpers.load_adult_income_dataset()
target = dataset["income"] # outcome variable
train_dataset, test_dataset, _, _ = train_test_split(dataset,
                                                     target,
                                                     test_size=0.2,
                                                     random_state=0,
                                                     stratify=target)

FileNotFoundError: https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data not found.

In [ ]:
d = dice_ml.Data(dataframe=train_dataset,
                 continuous_features=['age', 'hours_per_week'],
                 outcome_name='income')

In [ ]:
m = dice_ml.Model(model_path=dice_ml.utils.helpers.get_adult_income_modelpath(),backend='TF2', func="ohe-min-max")

In [ ]:
exp = dice_ml.Dice(d,m)

In [ ]:
# Generate counterfactual examples
query_instance = test_dataset.drop(columns="income")[0:1]
dice_exp = exp.generate_counterfactuals(query_instance, total_CFs=4, desired_class="opposite")
# Visualize counterfactual explanation
dice_exp.visualize_as_dataframe()

100%|██████████| 1/1 [00:01<00:00,  1.81s/it]

Query instance (original outcome : 0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,29,Private,HS-grad,Married,Blue-Collar,White,Female,38,0

Diverse Counterfactual set (new outcome: 1.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,29,Private,Masters,Married,Blue-Collar,White,Female,38,1
1,29,Private,Prof-school,Married,Blue-Collar,White,Female,38,1
2,64.0,Private,Assoc,Married,Blue-Collar,White,Female,38,1
3,40.0,Private,HS-grad,Married,Professional,White,Female,38,1

In [27]:
imp = exp.local_feature_importance(query_instance, total_CFs=10)

100%|██████████| 1/1 [00:03<00:00,  3.20s/it]

In [29]:
imp.local_importance

[{'hours_per_week': 0.6,
  'education': 0.5,
  'occupation': 0.3,
  'age': 0.3,
  'race': 0.1,
  'workclass': 0.0,
  'marital_status': 0.0,
  'gender': 0.0}]

In [50]:
# Sklearn imports
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier

# DiCE imports
import dice_ml
from dice_ml.utils import helpers  # helper functions

In [51]:
dataset = helpers.load_adult_income_dataset()

In [52]:
dataset.head()

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,28,Private,Bachelors,Single,White-Collar,White,Female,60,0
1,30,Self-Employed,Assoc,Married,Professional,White,Male,65,1
2,32,Private,Some-college,Married,White-Collar,White,Male,50,0
3,20,Private,Some-college,Single,Service,White,Female,35,0
4,41,Self-Employed,Some-college,Married,White-Collar,White,Male,50,0

In [53]:
target = dataset["income"]
train_dataset, test_dataset, y_train, y_test = train_test_split(dataset,
                                                                target,
                                                                test_size=0.2,
                                                                random_state=0,
                                                                stratify=target)
x_train = train_dataset.drop('income', axis=1)
x_test = test_dataset.drop('income', axis=1)

In [54]:
d = dice_ml.Data(dataframe=train_dataset, continuous_features=['age', 'hours_per_week'], outcome_name='income')

In [117]:
type(d)

dice_ml.data_interfaces.public_data_interface.PublicData

In [55]:
numerical = ["age", "hours_per_week"]
categorical = x_train.columns.difference(numerical)

categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

transformations = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical)])

# Append classifier to preprocessing pipeline.
# Now we have a full prediction pipeline.
clf = Pipeline(steps=[('preprocessor', transformations),
                      ('classifier', RandomForestClassifier())])
model = clf.fit(x_train, y_train)

In [56]:
# Using sklearn backend
m = dice_ml.Model(model=model, backend="sklearn")
# Using method=random for generating CFs
exp = dice_ml.Dice(d, m, method="random")

In [118]:
type(exp)

dice_ml.explainer_interfaces.dice_random.DiceRandom

In [57]:
e1 = exp.generate_counterfactuals(x_test[0:1], total_CFs=10, desired_class="opposite")
e1.visualize_as_dataframe()

100%|██████████| 1/1 [00:00<00:00,  1.98it/s]

Query instance (original outcome : 0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,29,Private,HS-grad,Married,Blue-Collar,White,Female,38,0

Diverse Counterfactual set (new outcome: 1.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,29,Self-Employed,School,Married,Blue-Collar,White,Female,38,1
1,29,Government,HS-grad,Single,Blue-Collar,White,Female,38,1
2,29,Self-Employed,HS-grad,Married,Professional,White,Female,38,1
3,29,Private,Doctorate,Married,White-Collar,White,Female,38,1
4,29,Private,Masters,Married,White-Collar,White,Female,38,1
5,29,Private,Masters,Married,Sales,White,Female,38,1
6,29,Private,Bachelors,Married,Blue-Collar,White,Male,38,1
7,29,Private,Doctorate,Married,Professional,White,Female,38,1
8,29,Government,HS-grad,Married,Professional,White,Female,38,1
9,29,Private,Doctorate,Married,Blue-Collar,White,Male,38,1

In [142]:
class CasualExplanations:
    def __init__(self, exp, X, X_scaled, Y, categorical, numerical, classes, enc, ohe, x_min, x_max, rng, k=10, **kwargs):
        self.exp = exp
        self.X = X
        self.X_scaled = X_scaled
        self.Y = Y
        self.categorical = categorical
        self.numerical = numerical
        self.classes = classes
        self.enc = enc
        self.ohe = ohe
        self.x_min = x_min
        self.x_max = x_max
        self.rng = rng
        self.k = k
        if "low_limit" in kwargs:
            self.low_limit = kwargs["low_limit"]
        else:
            self.low_limit = 0
        if "high_limit" in kwargs:
            self.high_limit = kwargs["high_limit"]
        else:
            self.high_limit = len(X)
        self.cfs = self.generate_counterfactuals()
        self.X_enc = self.enc.predict(self.X_scaled)
        self.class_mean = {}
        for c in classes:
            self.class_mean[c] = self.X_enc[self.Y.argmax(axis=1)==c].mean(axis=0)
    
    def generate_counterfactuals(self):
        return self.exp.generate_counterfactuals(self.X[self.low_limit:self.high_limit], total_CFs=self.k, desired_class="opposite")
    
    def average_sparsity(self, id):
        sum_sparsity = 0
        for i in range(self.k):
            sum_sparsity += (self.cfs.cf_examples_list[id].final_cfs_df.iloc[i, :-1] != self.X.iloc[id]).sum()
        return sum_sparsity / self.k
    
    def total_average_sparsity(self):
        sum_sparsity = 0
        for i in range(self.low_limit, self.high_limit):
            sum_sparsity += self.average_sparsity(i)
        return sum_sparsity / (self.high_limit - self.low_limit)
    
    def average_proximity(self, id):
        sum_proximity = 0
        for i in range(self.k):
            proximity = 0
            for col in self.categorical:
                if self.cfs.cf_examples_list[id].final_cfs_df.iloc[i, :-1][col]!=self.X.iloc[id][col]:
                    proximity+=1
            for col in self.numerical:
                proximity += abs(self.cfs.cf_examples_list[id].final_cfs_df.iloc[i, :-1][col] - self.X.iloc[id][col])
            sum_proximity+=proximity
        return sum_proximity / self.k
    
    def total_average_proximity(self):
        sum_proximity = 0
        for i in range(self.low_limit, self.high_limit):
            sum_proximity += self.average_proximity(i)
        return sum_proximity / (self.high_limit - self.low_limit)
    
    def average_diversity(self, id):
        sum_diversity = 0
        for i in range(self.k-1):
            diversity = 0
            for j in range(i+1, self.k):
                for col in self.categorical:
                    if self.cfs.cf_examples_list[id].final_cfs_df.iloc[i, :-1][col]!=self.cfs.cf_examples_list[id].final_cfs_df.iloc[j, :-1][col]:
                        diversity+=1
                for col in self.numerical:
                    diversity += abs(self.cfs.cf_examples_list[id].final_cfs_df.iloc[i, :-1][col] - self.cfs.cf_examples_list[id].final_cfs_df.iloc[j, :-1][col])
            sum_diversity += diversity
        return sum_diversity / (self.k**2)
    
    def total_average_diversity(self):
        sum_diversity = 0
        for i in range(self.low_limit, self.high_limit):
            sum_diversity += self.average_diversity(i)
        return sum_diversity / (self.high_limit - self.low_limit)

    def average_interpretability(self, id):
        x_cf = self.cfs.cf_examples_list[id].final_cfs_df.iloc[:, :-1]
        y_cf = self.cfs.cf_examples_list[id].final_cfs_df.iloc[:, -1]
        x_cf = np.c_[self.ohe.transform(x_cf.loc[:, self.categorical]), (x_cf.loc[:, self.numerical] - self.x_min) / (self.x_max - self.x_min) * (self.rng[1] - self.rng[0]) + self.rng[0]].astype(np.float32, copy=False)
        cf_enc = self.enc.predict(x_cf)
        sum_interpretability = 0
        for i in range(self.k):
            dist_orig = np.linalg.norm(cf_enc[i] - self.class_mean[self.Y[id].argmax(axis=0)])
            dist_cf = np.linalg.norm(cf_enc[i] - self.class_mean[y_cf[i]])
            sum_interpretability += dist_orig / (dist_cf + 1e-10)
        return sum_interpretability / self.k

    def total_average_interpretability(self):
        sum_interpretability = 0
        for i in range(self.low_limit, self.high_limit):
            sum_interpretability += self.average_interpretability(i)
        return sum_interpretability / (self.high_limit - self.low_limit)

In [61]:
from tensorflow.keras.layers import Dense, Input
from tensorflow.keras.models import Model, load_model
from tensorflow.keras.utils import to_categorical

In [65]:
import numpy as np

In [66]:
x_train_num = x_train.loc[:, numerical].astype(np.float32, copy=False)

In [67]:
x_train_cat = x_train.loc[:, categorical].copy()

In [69]:
x_min, x_max = x_train_num.min(axis=0), x_train_num.max(axis=0)

In [70]:
rng = (-1., 1.)
X_num_scaled = (x_train_num - x_min) / (x_max - x_min) * (rng[1] - rng[0]) + rng[0]

In [71]:
X_num_scaled

            age  hours_per_week
20907 -0.424658       -0.122449
2573   0.013699        0.204082
10939 -0.616438       -0.204082
7839  -0.342466       -0.204082
9608  -0.726027       -0.204082
...         ...             ...
25388 -0.041096       -0.612245
6214  -0.397260       -0.204082
6749  -0.260274        0.102041
17884 -0.835616       -0.204082
6862  -0.260274       -0.204082

[20838 rows x 2 columns]

In [72]:
ohe = OneHotEncoder(categories='auto', sparse=False).fit(x_train_cat)
X_cat_ohe = ohe.transform(x_train_cat)

d:\Anaconda\envs\interpret\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [74]:
X_train = np.c_[X_cat_ohe, X_num_scaled].astype(np.float32, copy=False)

In [75]:
X_test = np.c_[ohe.transform(x_test.loc[:, categorical]), (x_test.loc[:, numerical] - x_min) / (x_max - x_min) * (rng[1] - rng[0]) + rng[0]].astype(np.float32, copy=False)

In [77]:
X_train.shape, X_test.shape

((20838, 29), (5210, 29))

In [120]:
X_train.shape[-1]

29

In [79]:
Y_train = to_categorical(y_train)
Y_test = to_categorical(y_test)

In [78]:
def ae_model():
    # encoder
    x_in = Input(shape=(29,))
    x = Dense(60, activation='relu')(x_in)
    x = Dense(30, activation='relu')(x)
    x = Dense(15, activation='relu')(x)
    encoded = Dense(10, activation=None)(x)
    encoder = Model(x_in, encoded)
    
    # decoder
    dec_in = Input(shape=(10,))
    x = Dense(15, activation='relu')(dec_in)
    x = Dense(30, activation='relu')(x)
    x = Dense(60, activation='relu')(x)
    decoded = Dense(29, activation=None)(x)
    decoder = Model(dec_in, decoded)
    
    # autoencoder = encoder + decoder
    x_out = decoder(encoder(x_in))
    autoencoder = Model(x_in, x_out)
    autoencoder.compile(optimizer='adam', loss='mse')
    
    return autoencoder, encoder, decoder

In [80]:
ae, enc, dec = ae_model()
ae.summary()
ae.fit(X_train, X_train, batch_size=128, epochs=100, validation_data=(X_test, X_test), verbose=1)

Model: "model_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 29)]              0

 model (Functional)          (None, 10)                4255

 model_1 (Functional)        (None, 29)                4274

=================================================================
Total params: 8,529
Trainable params: 8,529
Non-trainable params: 0
_________________________________________________________________
Epoch 1/100
163/163 [==============================] - 1s 3ms/step - loss: 0.1074 - val_loss: 0.0609
Epoch 2/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0483 - val_loss: 0.0395
Epoch 3/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0347 - val_loss: 0.0308
Epoch 4/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0284 - val_loss: 0.0262
Epoch 5/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0241 - val_loss: 0.0224
Epoch 6/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0206 - val_loss: 0.0190
Epoch 7/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0174 - val_loss: 0.0162
Epoch 8/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0150 - val_loss: 0.0143
Epoch 9/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0134 - val_loss: 0.0128
Epoch 10/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0122 - val_loss: 0.0118
Epoch 11/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0112 - val_loss: 0.0109
Epoch 12/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0104 - val_loss: 0.0102
Epoch 13/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0098 - val_loss: 0.0096
Epoch 14/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0093 - val_loss: 0.0092
Epoch 15/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0089 - val_loss: 0.0088
Epoch 16/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0085 - val_loss: 0.0084
Epoch 17/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0081 - val_loss: 0.0081
Epoch 18/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0078 - val_loss: 0.0078
Epoch 19/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0073 - val_loss: 0.0073
Epoch 20/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0071 - val_loss: 0.0069
Epoch 21/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0067 - val_loss: 0.0065
Epoch 22/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0064 - val_loss: 0.0061
Epoch 23/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0062 - val_loss: 0.0061
Epoch 24/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0060 - val_loss: 0.0059
Epoch 25/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0058 - val_loss: 0.0057
Epoch 26/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0057 - val_loss: 0.0055
Epoch 27/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0056 - val_loss: 0.0056
Epoch 28/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0055 - val_loss: 0.0054
Epoch 29/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0053 - val_loss: 0.0051
Epoch 30/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0052 - val_loss: 0.0049
Epoch 31/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0050 - val_loss: 0.0047
Epoch 32/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0049 - val_loss: 0.0047
Epoch 33/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0048 - val_loss: 0.0048
Epoch 34/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0046 - val_loss: 0.0045
Epoch 35/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0045 - val_loss: 0.0043
Epoch 36/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0044 - val_loss: 0.0042
Epoch 37/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0043 - val_loss: 0.0042
Epoch 38/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0042 - val_loss: 0.0040
Epoch 39/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0041 - val_loss: 0.0039
Epoch 40/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0040 - val_loss: 0.0038
Epoch 41/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0039 - val_loss: 0.0039
Epoch 42/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0038 - val_loss: 0.0039
Epoch 43/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0037 - val_loss: 0.0038
Epoch 44/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0036 - val_loss: 0.0034
Epoch 45/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0035 - val_loss: 0.0034
Epoch 46/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0034 - val_loss: 0.0032
Epoch 47/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0034 - val_loss: 0.0034
Epoch 48/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0033 - val_loss: 0.0032
Epoch 49/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0031 - val_loss: 0.0030
Epoch 50/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0031 - val_loss: 0.0030
Epoch 51/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0030 - val_loss: 0.0031
Epoch 52/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0030 - val_loss: 0.0028
Epoch 53/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0029 - val_loss: 0.0028
Epoch 54/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0028 - val_loss: 0.0028
Epoch 55/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0028 - val_loss: 0.0027
Epoch 56/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0027 - val_loss: 0.0028
Epoch 57/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0027 - val_loss: 0.0027
Epoch 58/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0026 - val_loss: 0.0026
Epoch 59/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0026 - val_loss: 0.0026
Epoch 60/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0026 - val_loss: 0.0026
Epoch 61/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0025 - val_loss: 0.0024
Epoch 62/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0025 - val_loss: 0.0025
Epoch 63/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0025 - val_loss: 0.0024
Epoch 64/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0024 - val_loss: 0.0024
Epoch 65/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0024 - val_loss: 0.0025
Epoch 66/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0024 - val_loss: 0.0024
Epoch 67/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0024 - val_loss: 0.0024
Epoch 68/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0023 - val_loss: 0.0023
Epoch 69/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0023 - val_loss: 0.0022
Epoch 70/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0023 - val_loss: 0.0022
Epoch 71/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0023 - val_loss: 0.0021
Epoch 72/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0022 - val_loss: 0.0023
Epoch 73/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0022 - val_loss: 0.0022
Epoch 74/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0022 - val_loss: 0.0021
Epoch 75/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0022 - val_loss: 0.0020
Epoch 76/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0022 - val_loss: 0.0022
Epoch 77/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0021 - val_loss: 0.0020
Epoch 78/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0021 - val_loss: 0.0022
Epoch 79/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0021 - val_loss: 0.0020
Epoch 80/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0021 - val_loss: 0.0020
Epoch 81/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0020 - val_loss: 0.0020
Epoch 82/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0020 - val_loss: 0.0020
Epoch 83/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0020 - val_loss: 0.0021
Epoch 84/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0020 - val_loss: 0.0019
Epoch 85/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0020 - val_loss: 0.0019
Epoch 86/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0019 - val_loss: 0.0019
Epoch 87/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0019 - val_loss: 0.0019
Epoch 88/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0019 - val_loss: 0.0018
Epoch 89/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0019 - val_loss: 0.0019
Epoch 90/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0018 - val_loss: 0.0018
Epoch 91/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0019 - val_loss: 0.0019
Epoch 92/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0018 - val_loss: 0.0019
Epoch 93/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0018 - val_loss: 0.0017
Epoch 94/100
163/163 [==============================] - 0s 1ms/step - loss: 0.0018 - val_loss: 0.0017
Epoch 95/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0017 - val_loss: 0.0016
Epoch 96/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0017 - val_loss: 0.0017
Epoch 97/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0017 - val_loss: 0.0017
Epoch 98/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0017 - val_loss: 0.0016
Epoch 99/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0017 - val_loss: 0.0016
Epoch 100/100
163/163 [==============================] - 0s 2ms/step - loss: 0.0016 - val_loss: 0.0016

In [85]:
cf = e1.cf_examples_list[0].final_cfs_df

In [88]:
x_cf = cf.iloc[:, :-1].copy()

In [92]:
xf_cf = np.c_[ohe.transform(x_cf.loc[:, categorical]), (x_cf.loc[:, numerical] - x_min) / (x_max - x_min) * (rng[1] - rng[0]) + rng[0]].astype(np.float32, copy=False)

In [94]:
enc.predict(xf_cf)

1/1 [==============================] - 0s 19ms/step

array([[-4.2247496 , -1.0174646 , -2.2552083 ,  1.0896508 , -3.8075192 ,
         3.5094485 ,  4.9353867 , -3.3043954 , -1.3877498 ,  3.4297454 ],
       [-2.934661  ,  1.2704629 , -2.3813436 ,  1.2012497 , -3.2195582 ,
         2.0804317 ,  5.318864  , -2.4021032 , -0.23903197,  4.0691113 ],
       [-3.9927645 ,  0.5354843 , -1.4090974 , -1.6454202 , -4.23142   ,
         4.1528335 ,  4.4369283 , -2.8486516 , -0.3754536 ,  2.2261927 ],
       [-6.7905207 ,  0.29155096, -1.7372558 ,  0.28913617, -4.773374  ,
         3.72803   ,  3.6087556 , -3.5164623 ,  0.6605272 ,  0.33095303],
       [-6.332353  ,  0.8971953 , -1.8257024 ,  0.24094963, -4.040234  ,
         4.449658  ,  4.5445    , -3.096514  ,  1.0572677 ,  0.9613028 ],
       [-6.2996807 ,  0.23256153, -2.3017726 ,  0.75853693, -3.9724278 ,
         3.7458959 ,  3.6445465 , -2.8685026 ,  0.9197155 ,  1.9694383 ],
       [-5.5311027 , -0.3348734 , -2.7802815 ,  2.7801147 , -2.6662118 ,
         2.136769  ,  3.41835   , -3.6901987 , -0.7368517 ,  2.4188004 ],
       [-6.545268  ,  0.42285493, -1.5878832 ,  0.0547323 , -4.4577923 ,
         3.0985525 ,  2.4851954 , -2.405851  ,  0.36662042,  0.2326967 ],
       [-3.715548  ,  0.7260216 , -1.6726651 , -2.217067  , -4.010754  ,
         4.112206  ,  2.9047966 , -2.2144783 ,  0.44550815,  1.2650459 ],
       [-6.2678514 , -0.7140142 , -3.0689225 ,  1.8031678 , -3.2936153 ,
         1.5574303 ,  3.1235223 , -3.4512103 , -0.26107875,  2.247464  ]],
      dtype=float32)

In [105]:
X_enc = enc.predict(X_train)

652/652 [==============================] - 1s 2ms/step

In [106]:
Y_train.argmax(axis=1).shape

(20838,)

In [111]:
# class wise mean of encoded features
class_mean = {}
class_mean[0] = X_enc[Y_train.argmax(axis=1)==0].mean(axis=0)
class_mean[1] = X_enc[Y_train.argmax(axis=1)==1].mean(axis=0)

In [112]:
cf_enc = enc.predict(xf_cf)

1/1 [==============================] - 0s 21ms/step

In [114]:
sum_inter = 0
for i in cf_enc:
    dist_orig = np.linalg.norm(i - class_mean[0])
    dist_adv = np.linalg.norm(i - class_mean[1])
    sum_inter += dist_orig / (dist_adv + 10e-10)

In [115]:
sum_inter / cf_enc.shape[0]

1.0966775561805018

In [145]:
def casual_interpret_full(train: tuple, test: tuple, exp: dice_ml.explainer_interfaces.dice_random.DiceRandom, categorical : list, numerical : list, classes : list, k : int, **kwargs):
    x_train, y_train = train
    x_test, y_test = test
    x_train_num = x_train.loc[:, numerical].astype(np.float32, copy=False)
    x_train_cat = x_train.loc[:, categorical].copy()
    x_min, x_max = x_train_num.min(axis=0), x_train_num.max(axis=0)
    rng = (-1., 1.)
    ohe = OneHotEncoder(categories='auto', sparse=False).fit(x_train_cat)
    X_train = np.c_[ohe.transform(x_train_cat), (x_train_num - x_min) / (x_max - x_min) * (rng[1] - rng[0]) + rng[0]].astype(np.float32, copy=False)
    X_test = np.c_[ohe.transform(x_test.loc[:, categorical]), (x_test.loc[:, numerical] - x_min) / (x_max - x_min) * (rng[1] - rng[0]) + rng[0]].astype(np.float32, copy=False)
    Y_train = to_categorical(y_train)
    Y_test = to_categorical(y_test)
    def ae_model():
        # encoder``
        x_in = Input(shape=(29,))
        x = Dense(60, activation='relu')(x_in)
        x = Dense(30, activation='relu')(x)
        x = Dense(15, activation='relu')(x)
        encoded = Dense(10, activation=None)(x)
        encoder = Model(x_in, encoded)
        # decoder
        dec_in = Input(shape=(10,))
        x = Dense(15, activation='relu')(dec_in)
        x = Dense(30, activation='relu')(x)
        x = Dense(60, activation='relu')(x)
        decoded = Dense(29, activation=None)(x)
        decoder = Model(dec_in, decoded)
        # autoencoder = encoder + decoder
        x_out = decoder(encoder(x_in))
        autoencoder = Model(x_in, x_out)
        autoencoder.compile(optimizer='adam', loss='mse')
        return autoencoder, encoder, decoder
    ae, enc, dec = ae_model()
    ae.fit(X_train, X_train, batch_size=128, epochs=10, validation_data=(X_test, X_test), verbose=1)
    train_ce = CasualExplanations(exp, x_train, X_train, Y_train, categorical, numerical, classes, enc, ohe, x_min, x_max, rng, k, **kwargs)
    test_ce = CasualExplanations(exp, x_test, X_test, Y_test, categorical, numerical, classes, enc, ohe, x_min, x_max, rng, k, **kwargs)
    return train_ce, test_ce

In [146]:
train, test = casual_interpret_full((x_train, y_train), (x_test, y_test), exp, categorical, numerical, [0,1], k=10, low_limit=0, high_limit=5)

d:\Anaconda\envs\interpret\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Epoch 1/10
163/163 [==============================] - 2s 5ms/step - loss: 0.1141 - val_loss: 0.0724
Epoch 2/10
163/163 [==============================] - 1s 4ms/step - loss: 0.0563 - val_loss: 0.0463
Epoch 3/10
163/163 [==============================] - 1s 4ms/step - loss: 0.0398 - val_loss: 0.0338
Epoch 4/10
163/163 [==============================] - 1s 3ms/step - loss: 0.0302 - val_loss: 0.0278
Epoch 5/10
163/163 [==============================] - 1s 4ms/step - loss: 0.0260 - val_loss: 0.0242
Epoch 6/10
163/163 [==============================] - 1s 4ms/step - loss: 0.0228 - val_loss: 0.0213
Epoch 7/10
163/163 [==============================] - 1s 4ms/step - loss: 0.0200 - val_loss: 0.0189
Epoch 8/10
163/163 [==============================] - 1s 4ms/step - loss: 0.0180 - val_loss: 0.0171
Epoch 9/10
163/163 [==============================] - 1s 4ms/step - loss: 0.0161 - val_loss: 0.0154
Epoch 10/10
163/163 [==============================] - 1s 4ms/step - loss: 0.0141 - val_loss: 0.0134

100%|██████████| 5/5 [00:05<00:00,  1.00s/it]

652/652 [==============================] - 2s 2ms/step

100%|██████████| 5/5 [00:04<00:00,  1.03it/s]

 25/163 [===>..........................] - ETA: 0s

163/163 [==============================] - 0s 2ms/step

In [147]:
train.total_average_sparsity(), test.total_average_sparsity()

(1.9600000000000002, 2.08)

In [148]:
train.total_average_proximity(), test.total_average_proximity()

(15.620000000000001, 7.76)

In [149]:
train.total_average_diversity(), test.total_average_diversity()

(11.474, 6.066)

In [150]:
train.total_average_interpretability(), test.total_average_interpretability()

1/1 [==============================] - 0s 81ms/step
1/1 [==============================] - 0s 47ms/step
1/1 [==============================] - 0s 44ms/step
1/1 [==============================] - 0s 46ms/step
1/1 [==============================] - 0s 42ms/step
1/1 [==============================] - 0s 40ms/step
1/1 [==============================] - 0s 47ms/step
1/1 [==============================] - 0s 40ms/step
1/1 [==============================] - 0s 41ms/step
1/1 [==============================] - 0s 50ms/step

(1.0755003293475878, 1.0866420738993248)