In [1]:
import pandas as pd
import numpy as np
import sklearn
import sklearn.cluster
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import random

In [2]:
df_train =  pd.read_csv('./archive/train.csv')
df_test = pd.read_csv('./archive/test.csv')

df_train.income = df_train.income.map({'<=50K':0, '>50K':1})
df_test.income = df_test.income.map({'<=50K':0, '>50K':1})

In [3]:
le = sklearn.preprocessing.LabelEncoder()
for col in df_train.columns:
    if df_train[col].dtype == 'object':
        le.fit(df_train[col])
        df_train[col] = le.transform(df_train[col])
        df_test[col] = le.transform(df_test[col])

In [4]:
random_state = 39
exp_iter = 10
random.seed(random_state)

#Get datasets
X_train = df_train.drop('income', axis=1)
y_train = df_train.income
X_test = df_test.drop('income', axis=1)
y_test = df_test.income
test_x = X_test.values
n_classes = len(np.unique(y_train))
feat_list = [each.replace(' ','_') for each in X_train.columns]
X = np.vstack((X_train.values, test_x))

In [5]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100)
model.fit(X_train, y_train)

RandomForestClassifier()

# RULEMATRIX

In [6]:
import rulematrix

In [7]:
X_train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39
2,38,4,215646,11,9,0,6,1,4,1,0,0,40,39
3,53,4,234721,1,7,2,6,0,2,1,0,0,40,39
4,28,4,338409,9,13,2,10,5,2,0,0,0,40,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4,257302,7,12,2,13,5,4,0,0,0,38,39
32557,40,4,154374,11,9,2,7,0,4,1,0,0,40,39
32558,58,4,151910,11,9,6,1,4,4,0,0,0,40,39
32559,22,4,201490,11,9,4,1,3,4,1,0,0,20,39
32560,52,5,287927,11,9,2,4,5,4,0,15024,0,40,39

In [8]:
is_continuous = np.zeros(X_train.shape[1], dtype=bool)
is_continuous[[0,10,11,12]] = True

is_categorical = ~is_continuous

surrogate = rulematrix.surrogate.rule_surrogate(
    model.predict,
    X_train,
    sampling_rate=4,
    is_continuous=is_continuous,
    is_categorical=is_categorical,
    seed=random_state
)

In [9]:
print(surrogate.student)

The rule list contains 122 of rules:

     IF (X10 in (7699.9326171875, 32101.0234375)) THEN prob: [0.0013, 0.9987]

ELSE IF (X10 in (5096.892578125, 6878.70751953125)) AND (X7 = 0) THEN prob: [0.0033, 0.9967]

ELSE IF (X10 in (42629.7421875, inf)) THEN prob: [0.0016, 0.9984]

ELSE IF (X11 in (1799.3743896484375, 1987.9354248046875)) AND (X5 = 2) THEN prob: [0.0182, 0.9818]

ELSE IF (X4 = 9) AND (X7 = 4) THEN prob: [0.9985, 0.0015]

ELSE IF (X0 in (28.62492561340332, 31.15561866760254)) AND (X5 = 4) THEN prob: [0.9977, 0.0023]

ELSE IF (X10 in (-inf, 3169.612060546875)) AND (X11 in (1799.3743896484375, 1987.9354248046875)) THEN prob: [0.9928, 0.0072]

ELSE IF (X0 in (-inf, 20.041353225708008)) AND (X10 in (-inf, 3169.612060546875)) THEN prob: [0.9996, 0.0004]

ELSE IF (X3 = 10) AND (X5 = 2) THEN prob: [0.1040, 0.8960]

ELSE IF (X5 = 6) AND (X9 = 0) THEN prob: [0.9920, 0.0080]

ELSE IF (X10 in (-inf, 3169.612060546875)) AND (X4 = 4) THEN prob: [0.9950, 0.0050]

ELSE IF (X0 in (20.041353225708008, 24.670215606689453)) AND (X5 = 4) THEN prob: [0.9994, 0.0006]

ELSE IF (X13 = 39) AND (X3 = 10) THEN prob: [0.7231, 0.2769]

ELSE IF (X12 in (-inf, 29.13865089416504)) AND (X7 = 1) THEN prob: [0.9986, 0.0014]

ELSE IF (X1 = 4) AND (X7 = 3) THEN prob: [0.9981, 0.0019]

ELSE IF (X11 in (-inf, 428.63983154296875)) AND (X7 = 3) THEN prob: [0.9925, 0.0075]

ELSE IF (X5 = 5) AND (X9 = 0) THEN prob: [0.9986, 0.0014]

ELSE IF (X11 in (-inf, 428.63983154296875)) AND (X5 = 4) THEN prob: [0.9868, 0.0132]

ELSE IF (X3 = 15) AND (X5 = 0) THEN prob: [0.9922, 0.0078]

ELSE IF (X6 = 1) AND (X7 = 1) THEN prob: [0.9356, 0.0644]

ELSE IF (X5 = 4) AND (X6 = 4) THEN prob: [0.6914, 0.3086]

ELSE IF (X10 in (-inf, 3169.612060546875)) AND (X6 = 14) THEN prob: [0.9305, 0.0695]

ELSE IF (X5 = 0) AND (X9 = 0) THEN prob: [0.9911, 0.0089]

ELSE IF (X10 in (-inf, 3169.612060546875)) AND (X3 = 1) THEN prob: [0.9976, 0.0024]

ELSE IF (X12 in (34.64329528808594, 39.57931900024414)) AND (X7 = 4) THEN prob: [0.9825, 0.0175]

ELSE IF (X12 in (34.64329528808594, 39.57931900024414)) AND (X7 = 1) THEN prob: [0.9744, 0.0256]

ELSE IF (X11 in (-inf, 428.63983154296875)) AND (X7 = 2) THEN prob: [0.9545, 0.0455]

ELSE IF (X0 in (-inf, 20.041353225708008)) THEN prob: [0.9245, 0.0755]

ELSE IF (X10 in (5096.892578125, 6878.70751953125)) AND (X5 = 2) THEN prob: [0.0408, 0.9592]

ELSE IF (X0 in (20.041353225708008, 24.670215606689453)) AND (X11 in (-inf, 428.63983154296875)) THEN prob: [0.9847, 0.0153]

ELSE IF (X12 in (-inf, 29.13865089416504)) AND (X4 = 9) THEN prob: [0.9815, 0.0185]

ELSE IF (X6 = 7) AND (X9 = 0) THEN prob: [0.9920, 0.0080]

ELSE IF (X6 = 1) AND (X7 = 5) THEN prob: [0.6074, 0.3926]

ELSE IF (X0 in (24.670215606689453, 26.759408950805664)) AND (X4 = 9) THEN prob: [0.9811, 0.0189]

ELSE IF (X11 in (-inf, 428.63983154296875)) AND (X4 = 6) THEN prob: [0.9947, 0.0053]

ELSE IF (X11 in (-inf, 428.63983154296875)) AND (X5 = 5) THEN prob: [0.9532, 0.0468]

ELSE IF (X12 in (39.57931900024414, 41.4693603515625)) AND (X7 = 1) THEN prob: [0.9624, 0.0376]

ELSE IF (X3 = 0) THEN prob: [0.6400, 0.3600]

ELSE IF (X4 = 6) THEN prob: [0.5000, 0.5000]

ELSE IF (X4 = 13) AND (X7 = 5) THEN prob: [0.4328, 0.5672]

ELSE IF (X0 in (26.759408950805664, 28.62492561340332)) AND (X9 = 1) THEN prob: [0.9093, 0.0907]

ELSE IF (X1 = 0) AND (X9 = 0) THEN prob: [0.9389, 0.0611]

ELSE IF (X0 in (24.670215606689453, 26.759408950805664)) AND (X10 in (-inf, 3169.612060546875)) THEN prob: [0.8985, 0.1015]

ELSE IF (X3 = 15) AND (X6 = 8) THEN prob: [0.9385, 0.0615]

ELSE IF (X12 in (-inf, 29.13865089416504)) AND (X7 = 0) THEN prob: [0.8899, 0.1101]

ELSE IF (X11 in (-inf, 428.63983154296875)) AND (X7 = 4) THEN prob: [0.9025, 0.0975]

ELSE IF (X12 in (41.4693603515625, 45.54753112792969)) AND (X5 = 0) THEN prob: [0.9742, 0.0258]

ELSE IF (X3 = 14) AND (X6 = 10) THEN prob: [0.0528, 0.9472]

ELSE IF (X4 = 15) THEN prob: [0.2103, 0.7897]

ELSE IF (X0 in (28.62492561340332, 31.15561866760254)) AND (X3 = 11) THEN prob: [0.9652, 0.0348]

ELSE IF (X5 = 4) THEN prob: [0.8487, 0.1513]

ELSE IF (X11 in (-inf, 428.63983154296875)) AND (X7 = 1) THEN prob: [0.8895, 0.1105]

ELSE IF (X1 = 6) AND (X3 = 9) THEN prob: [0.5027, 0.4973]

ELSE IF (X4 = 14) AND (X6 = 10) THEN prob: [0.2344, 0.7656]

ELSE IF (X12 in (41.4693603515625, 45.54753112792969)) AND (X4 = 14) THEN prob: [0.0973, 0.9027]

ELSE IF (X4 = 13) AND (X6 = 4) THEN prob: [0.0777, 0.9223]

ELSE IF (X7 = 2) THEN prob: [0.2727, 0.7273]

ELSE IF (X1 = 6) AND (X3 = 11) THEN prob: [0.9509, 0.0491]

ELSE IF (X10 in (3169.612060546875, 5096.892578125)) THEN prob: [0.8669, 0.1331]

ELSE IF (X12 in (-inf, 29.13865089416504)) AND (X6 = 12) THEN prob: [0.9310, 0.0690]

ELSE IF (X5 = 6) THEN prob: [0.2222, 0.7778]

ELSE IF (X3 = 11) AND (X7 = 1) THEN prob: [0.9524, 0.0476]

ELSE IF (X3 = 11) AND (X9 = 0) THEN prob: [0.9142, 0.0858]

ELSE IF (X6 = 14) THEN prob: [0.0455, 0.9545]

ELSE IF (X4 = 4) THEN prob: [0.1667, 0.8333]

ELSE IF (X13 = 39) AND (X5 = 5) THEN prob: [0.2069, 0.7931]

ELSE IF (X12 in (29.13865089416504, 32.526817321777344)) AND (X9 = 1) THEN prob: [0.9252, 0.0748]

ELSE IF (X3 = 12) AND (X6 = 4) THEN prob: [0.0678, 0.9322]

ELSE IF (X0 in (44.58116149902344, 55.5671272277832)) AND (X1 = 6) THEN prob: [0.7634, 0.2366]

ELSE IF (X3 = 12) THEN prob: [0.2518, 0.7482]

ELSE IF (X7 = 5) AND (X8 = 4) THEN prob: [0.5162, 0.4838]

ELSE IF (X0 in (20.041353225708008, 24.670215606689453)) THEN prob: [0.9667, 0.0333]

ELSE IF (X7 = 1) THEN prob: [0.5517, 0.4483]

ELSE IF (X1 = 0) THEN prob: [0.6751, 0.3249]

ELSE IF (X1 = 6) THEN prob: [0.9473, 0.0527]

ELSE IF (X12 in (41.4693603515625, 45.54753112792969)) AND (X3 = 9) THEN prob: [0.0577, 0.9423]

ELSE IF (X12 in (45.54753112792969, 49.87828826904297)) AND (X4 = 13) THEN prob: [0.0523, 0.9477]

ELSE IF (X12 in (34.64329528808594, 39.57931900024414)) AND (X6 = 4) THEN prob: [0.6278, 0.3722]

ELSE IF (X12 in (66.80242156982422, inf)) THEN prob: [0.5137, 0.4863]

ELSE IF (X3 = 1) THEN prob: [0.1250, 0.8750]

ELSE IF (X0 in (33.18595504760742, 36.63434982299805)) AND (X6 = 4) THEN prob: [0.4903, 0.5097]

ELSE IF (X12 in (39.57931900024414, 41.4693603515625)) AND (X6 = 4) THEN prob: [0.2764, 0.7236]

ELSE IF (X3 = 9) AND (X6 = 10) THEN prob: [0.1258, 0.8742]

ELSE IF (X4 = 13) THEN prob: [0.3015, 0.6985]

ELSE IF (X10 in (-inf, 3169.612060546875)) AND (X12 in (32.526817321777344, 34.64329528808594)) THEN prob: [0.9593, 0.0407]

ELSE IF (X0 in (44.58116149902344, 55.5671272277832)) AND (X6 = 12) THEN prob: [0.3598, 0.6402]

ELSE IF (X0 in (28.62492561340332, 31.15561866760254)) AND (X13 = 39) THEN prob: [0.9435, 0.0565]

ELSE IF (X10 in (-inf, 3169.612060546875)) AND (X6 = 8) THEN prob: [0.9523, 0.0477]

ELSE IF (X12 in (34.64329528808594, 39.57931900024414)) AND (X4 = 9) THEN prob: [0.9474, 0.0526]

ELSE IF (X8 = 1) THEN prob: [0.8845, 0.1155]

ELSE IF (X0 in (31.15561866760254, 33.18595504760742)) AND (X10 in (-inf, 3169.612060546875)) THEN prob: [0.8858, 0.1142]

ELSE IF (X3 = 15) AND (X9 = 0) THEN prob: [0.8929, 0.1071]

ELSE IF (X0 in (33.18595504760742, 36.63434982299805)) AND (X3 = 11) THEN prob: [0.7830, 0.2170]

ELSE IF (X6 = 4) AND (X7 = 0) THEN prob: [0.1018, 0.8982]

ELSE IF (X1 = 5) AND (X5 = 2) THEN prob: [0.5326, 0.4674]

ELSE IF (X10 in (-inf, 3169.612060546875)) AND (X3 = 7) THEN prob: [0.6306, 0.3694]

ELSE IF (X1 = 4) AND (X8 = 2) THEN prob: [0.8148, 0.1852]

ELSE IF (X11 in (1987.9354248046875, 2397.502197265625)) AND (X9 = 1) THEN prob: [0.5657, 0.4343]

ELSE IF (X10 in (-inf, 3169.612060546875)) AND (X1 = 7) THEN prob: [0.8346, 0.1654]

ELSE IF (X12 in (49.87828826904297, 66.80242156982422)) AND (X4 = 10) THEN prob: [0.7879, 0.2121]

ELSE IF (X3 = 10) AND (X8 = 4) THEN prob: [0.5000, 0.5000]

ELSE IF (X0 in (28.62492561340332, 31.15561866760254)) AND (X1 = 4) THEN prob: [0.9804, 0.0196]

ELSE IF (X6 = 13) THEN prob: [0.4847, 0.5153]

ELSE IF (X4 = 12) AND (X7 = 0) THEN prob: [0.1000, 0.9000]

ELSE IF (X4 = 10) AND (X6 = 12) THEN prob: [0.2946, 0.7054]

ELSE IF (X0 in (44.58116149902344, 55.5671272277832)) AND (X6 = 10) THEN prob: [0.2237, 0.7763]

ELSE IF (X6 = 12) AND (X9 = 1) THEN prob: [0.7806, 0.2194]

ELSE IF (X6 = 10) THEN prob: [0.4394, 0.5606]

ELSE IF (X0 in (33.18595504760742, 36.63434982299805)) AND (X1 = 4) THEN prob: [0.9343, 0.0657]

ELSE IF (X12 in (39.57931900024414, 41.4693603515625)) AND (X1 = 4) THEN prob: [0.8649, 0.1351]

ELSE IF (X12 in (34.64329528808594, 39.57931900024414)) AND (X1 = 4) THEN prob: [0.9819, 0.0181]

ELSE IF (X0 in (44.58116149902344, 55.5671272277832)) AND (X4 = 9) THEN prob: [0.1645, 0.8355]

ELSE IF (X4 = 9) THEN prob: [0.3093, 0.6907]

ELSE IF (X6 = 6) AND (X8 = 4) THEN prob: [0.9029, 0.0971]

ELSE IF (X10 in (-inf, 3169.612060546875)) AND (X3 = 8) THEN prob: [0.2678, 0.7322]

ELSE IF (X6 = 11) AND (X7 = 0) THEN prob: [0.0469, 0.9531]

ELSE IF (X12 in (34.64329528808594, 39.57931900024414)) THEN prob: [0.9231, 0.0769]

ELSE IF (X0 in (60.05595016479492, 66.63057708740234)) AND (X5 = 2) THEN prob: [0.9184, 0.0816]

ELSE IF (X12 in (39.57931900024414, 41.4693603515625)) AND (X4 = 10) THEN prob: [0.8182, 0.1818]

ELSE IF (X4 = 10) AND (X7 = 0) THEN prob: [0.4839, 0.5161]

ELSE IF (X10 in (-inf, 3169.612060546875)) THEN prob: [0.9946, 0.0054]

ELSE DEFAULT prob: [0.0909, 0.9091]

In [10]:
surrogate.score(X_train)

0.8569147139215626

In [11]:
surrogate.score(X_test)

0.914624408820097

In [110]:
def exp_fn_blk(xtest, exp_fn):
    exp1 = []
    for i in range(len(xtest)):
        queried_rules = np.arange(surrogate.student.n_rules)[surrogate.student.decision_path(test_x[i].reshape(1,-1)).reshape(-1)]
        exp = np.zeros(surrogate.student.n_rules)
        exp[queried_rules[-1]] = 1
        exp1.append(exp)
    return np.array(exp1)
exp_fn_wrap = lambda x: np.array(exp_fn_blk(x, exp_fn))

In [111]:
exp1 = exp_fn_blk(test_x[:100], exp_fn)
exp2 = exp_fn_blk(test_x[:100], exp_fn)

In [112]:
def calc_identity(exp1, exp2):
    dis = np.array([np.array_equal(exp1[i],exp2[i]) for i in range(len(exp1))])
    total = dis.shape[0]
    true = np.sum(dis)
    score = (total-true)/total
    return score*100, true, total

def calc_separability(exp):
    wrong = 0
    for i in range(exp.shape[0]):
        for j in range(exp.shape[0]):
            if i == j:
                continue
            eq = np.array_equal(exp[i],exp[j])
            if eq:
                wrong = wrong + 1
    total = exp.shape[0]
    score = 100*abs(wrong)/total**2
    return wrong,total,total**2,score

def calc_stability(exp, labels):
    total = labels.shape[0]
    label_values = np.unique(labels)
    n_clusters = label_values.shape[0]
    init = np.array([[np.average(exp[np.where(labels == i)], axis = 0)] for i in label_values]).squeeze()
    ct = sklearn.cluster.KMeans(n_clusters = n_clusters, random_state=1, n_init=10, init = init)
    ct.fit(exp)
    error = np.sum(np.abs(labels-ct.labels_))
    if error/total > 0.5:
        error = total-error
    return error, total

In [113]:
i = calc_identity(exp1, exp2)
print(i)

s = calc_separability(exp1)
print(s)

sb = calc_stability(exp1, y_test[:100])
print(sb)

(0.0, 100, 100)
(304, 100, 10000, 3.04)
(3, 100)

In [114]:
def normalize_test(X_train, X_test):
    X_test_norm = X_test.copy()
    for i in X_train.columns:
        scaler = sklearn.preprocessing.MinMaxScaler()
        scaler.fit(X_train[i].values.reshape(-1,1))
        X_test_norm[i] = scaler.transform(X_test[i].values.reshape(-1,1))

    return X_test_norm

def calc_similarity(exp, X_test_norm):
    dbscan = sklearn.cluster.DBSCAN(eps=0.5, min_samples=10)
    dbscan.fit(X_test_norm[:400])
    labels = dbscan.labels_
    mean_dist = []
    for i in np.unique(labels):
        mean_dist.append(np.mean(sklearn.metrics.pairwise_distances(exp[np.where(labels == i), :].squeeze(), metric='euclidean')))
    return np.min(mean_dist)

In [115]:
X_test_norm = normalize_test(X_train, X_test)
sim = calc_similarity(exp1, X_test_norm[:100])

print(sim)

1.3060973539360516